.row{
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    
}



@media screen and (max-width: 575px) {
   .dummy{
display: flex;
flex-direction: column;

/* justify-content: left; */
margin-left: 0px;
   }
  }

  /* .card{
border: solid 1px;
    padding:2rem;
    width:50rem;
  } */